DOCKER_OPTS="\
  daemon \
  --host=unix:///var/run/docker.sock \
  --ip-masq=false \
  --storage-driver=overlay \
"

FLANNEL_ETCD_PREFIX="{{ FLANNEL_ETCD_PREFIX }}"

FLANNEL_NETWORK_CONFIG='{"Network":"{{ POD_NETWORK }}","Backend":{"Type":"{{ FLANNEL_BACKEND }}"}}'

FLANNEL_OPTS='--ip-masq --iface={{ FLANNEL_INTERFACE }} --etcd-endpoints="{{ ETCD_ENDPOINTS }}"'

FLANNEL_ETCDCTL_OPTS="--endpoint {{ ETCD_ENDPOINTS }}"

KUBE_KUBELET_OPTS="\
  --api_servers=http://127.0.0.1:8080 \
  --allow-privileged=true \
  --cloud-provider="" \
  --cluster-dns={{ DNS_SERVICE_IP }} \
  --cluster-domain={{ CLUSTER_NAME }}.local \
  --config=/etc/kubernetes/manifests \
  --enable-server \
  --hostname-override={{ ansible_ssh_host }} \
  --node-ip={{ ansible_ssh_host }} \
  --pod-infra-container-image=gcr.io/google_containers/pause-arm:3.0 \
  --node-status-update-frequency=10s \
  --register-node=true \
"
