network="192.168.7.0/24"
fing_report_file="/tmp/network.txt"
ansible_ssh_user="pirate"
pi_passwd="hypriot"
node0_mac="B8:27:EB:04:37:6F"
node1_mac="B8:27:EB:84:42:D0"
node2_mac="B8:27:EB:A9:DE:41"
node3_mac="B8:27:EB:CE:32:8D"
node4_mac="B8:27:EB:DF:24:72"
