apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: gcr.io/google_containers/hyperkube-arm:v1.3.2
    command:
    - /hyperkube
    - controller-manager
    - --cloud-provider=
    - --allocate-node-cidrs=true
    - --cluster-cidr={{ POD_NETWORK }}
    - --cluster-name={{ CLUSTER_NAME }}
    - --leader-elect=true
    - --master=127.0.0.1:8080
    - --node-monitor-grace-period=30s
    - --node-monitor-period=5s
    - --node-startup-grace-period=30s
    - --pod-eviction-timeout=5s
    - --root-ca-file={{ KUBE_CLIENT_CA_FILE }}
    - --service-account-private-key-file={{ KUBE_SERVICE_ACCOUNT_KEY_FILE }}
    livenessProbe:
      httpGet:
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: /etc/certs
      name: certs
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/certs
    name: certs
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
