apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: gcr.io/google_containers/hyperkube-arm:v1.3.2
    command:
    - /hyperkube
    - proxy
    - --config-sync-period=15m0s
    - --healthz-bind-address=127.0.0.1
    - --healthz-port=10249
    - --master=http://127.0.0.1:8080
    securityContext:
      privileged: true
    volumeMounts:
      - mountPath: /etc/ssl/certs
        name: ssl-certs-host
        readOnly: true
      - mountPath: /etc/certs
        name: certs
        readOnly: true
  volumes:
    - hostPath:
        path: /usr/share/ca-certificates
      name: ssl-certs-host
    - hostPath:
        path: /etc/certs
      name: certs
