{
  "CN": "{{ ca_cn }}",
  "key": {
    "algo": "{{ ca_algo }}",
    "size": {{ encr_size }}
  },
  "names": [
    {
      "C": "{{ ca_country }}",
      "L": "{{ ca_locality }}",
      "O": "{{ ca_organisation }}",
      "OU": "{{ ca_organisational_unit }}",
      "ST": "{{ ca_state }}"
    }
  ]
}
