{
  "CN": "{{ etcd_cn }}",
  "hosts":[
  {{ etcd_hosts }}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ etcd_country }}",
      "L": "{{ etcd_locality }}",
      "O": "{{ etcd_organisation }}",
      "OU": "{{ etcd_organisational_unit }}",
      "ST": "{{ etcd_state }}"
    }
  ]
}
